* {
  font-family: "Open Sans", serif;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(270deg, #48367d 0%, #241842 100%);
}

.wrapper {
  position: relative;
  padding: 80px 20px;
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: translateY(-58px);
}

.bg {
  position: absolute;
  width: 25%;
}

.bg-left {
  left: 0;
}

.bg-right {
  right: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

h1 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 2.2em;
  color: #2e2e2e;
  text-align: center;
}

.container a {
  color: #2e2e2e;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.white-box {
  padding: 60px 80px;
  background: #fff;
  width: 70%;
  z-index: 1;
}

@media only screen and (min-width: 900px) {
  .white-box {
    width: 700px;
  }
}

.settings .text-switch {
  font-family: "Open Sans", serif;
  font-size: 1.5em;
  display: flex;
  align-self: center;
  color: #2e2e2e;
}

.settings .switch {
  vertical-align: middle;
  padding: 10px;
  margin: 0px 20px;
}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  color: #fff;
}

.footer a {
  color: #fff;
}

/* ============================================================
  TOGGLE
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/* ============================================================
  SWITC
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 140px;
  height: 52px;
  background-color: #dddddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #919191;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 48px;
  height: 48px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 100%;
  transition: margin 0.4s;
  left: 3px;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #4a8bee;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 90px;
}
